.boxForum{
    width: 100%;
    flex: 11;
    overflow: auto;
}

.boxForum .postBox{
    cursor: pointer;
    margin: 0.6em auto 0.6em auto;
    width: 90%;
    box-shadow: 0 0 4px black;
    border-radius: 1em;
    display: flex;
    background-color: rgb(250, 245, 250);
    color: rgb(66, 70, 88);
    min-height: 4.3em;
}

.boxForum .postBox .post{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.boxForum .postBox .up{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.boxForum .postBox .response{
    font-size: 0.8cm;
}
.boxForum .postBox .titlePost{
    font-size: 0.5cm;
}
.boxForum .postBox .down{
   color: aqua;
}

.boxForum .postBox .name{
    color: rgb(14, 14, 14);

 }

.boxForum .postBox .boxImg{
 
    width: 20%;
    
}

.userImg{
 
    border-radius: 100%;
    height: 4.3em;
    width: 100%;
    
}

.btnSend{
    position: absolute;
    top: 80%;
    left: 16%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 2em black;
    padding: 0.8em;
    cursor: pointer;
 
    font-size: 0.7cm;
    color: rgb(16, 148, 236);
    /* padding: 0.1em 0.1em 0 0; */
}


.formPost {
    width: 100%;
    height: 93%;
    position: absolute;
    bottom: 0px;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    justify-content: flex-end;
}
.formPost .exitForm{
    position: absolute;
    top: 0;
    align-self: flex-start;
    z-index: 10;
    font-size: 1cm;
}

.formPost input{
    outline: none;
    color: rgb(66, 70, 88);
    font-size: 1.3rem;
    font-family: 'Assistant', sans-serif;
    padding: 0.6em;
    margin-bottom: 1em;
}

.formPost textarea {
    outline: none;
    color: rgb(66, 70, 88);
    font-size: 1.3rem;
    font-family: 'Assistant', sans-serif;
    padding: 0.6em;
   
    width: 90%;
    height: 5rem;
    border: 2px solid rgb(16, 148, 236);
}

.formPost  button {
    width: 80%;
    font-size: 1.3rem;
    background-color: rgb(16, 148, 236);
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    padding: 0.4em;
    border-radius: 1em;
    cursor: pointer;
    margin: 2em 0 3em 0;
}

.commentBoxParent {
    direction: rtl;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 4px black;
    border-radius: 1em;
    padding: 0.3em;
    margin-bottom: 1em;
    font-size: 0.7em;
}
.colorParent{
    background-color: #efefee;
}

.titlePostParent {
    padding: 0.2em;
    font-size: 1.7em;
    font-weight: bold;
    direction: rtl;
}

.commentBoxParent .user {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 5em;
    height: 4.6em;
}

.commentBoxParent  .img {
    height: 100%;
    margin-left: 0.2em;
}

.commentBoxParent .date {
    width: 8em;
}

.commentBoxParent .name {
    cursor: pointer;
    font-weight: bold;
    color: rgb(51, 122, 168);
    font-size: 0.5cm;
}

.commentBoxParent .textComment {
    margin-top: 0.2em;
    font-size: 1.7em;
    padding-right: 0.4em;
}

.bottom-data {
    text-align: center;
    font-size: 0.4cm;
    cursor: pointer;  
}

.bottom-data .responseParent{
    padding: 6px;
}

.bottom-data .number{
    padding: 8px;
}
.space {
    width: 80%;
    height: 0.2em;
    background-color: rgb(177, 162, 247);
    border: none;
    margin: 2em auto;
}


.replay_post{
    width: 90%;
    height: 7em;
    background-color: rgb(202, 207, 199);
    padding: 1em;
    border-radius: 1em;
    overflow: auto;
    margin-bottom: 3%;
}

.replay_post .names {
    cursor: pointer;
    color: rgb(16, 148, 236);
    font-weight: bold;
}

.replay_post .textParent{
    margin-top: 10%;
}
