.account {
    display: block;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */

}

.account .smallButton {

    width: 100%;
    display: none;
    font-family: system-ui;
    height: 47%;
    font-family: system-ui;
    font-weight: bold;

}

.title {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 40px;
    background: rgb(155, 149, 236);
    justify-content: space-between;
    border-bottom: 5px solid blue;
    color: white;
    align-items: center;
}

.title .imgAndText {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.title .imgAndText .textTitle {
    font-size: 25px;
    padding-top: 7px;
    padding-left: 4px;
    font-weight: bold;
}

.title .imgAndText .logo {
    font-size: 0.8cm;
    padding-top: 7px;

}

.title .mx {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content:right !important ;
    text-align:right !important ; */

}

.title .mx .exitButton {
    width: 30px;
    height: 30px;
    border: 0;
    background: rgb(155, 149, 236);
    color: azure;
    font-size: 0.8cm;
    cursor: pointer;
}

.title .mx .menu {

    font-size: 25px;
    width: 30px;
    height: 30px;
    font-weight: bold;
    border: 0ch;
    cursor: pointer;
}

.form {
    margin: 25% auto;
    width: 75%;
    height: 50%;
    /* background: rgb(241, 237, 237); */
}

.boxInput {
    background: beige;
}

.inputL_S {

    width: 98%;
    font-size: 1.2em;
    height: 20%;
    /* padding: 0.5em; */
    /* padding-left: 2em; */
    color: rgb(0 46 255);
    outline: none;
    margin-bottom: 10%;
    border: none;
    background-color: #eaeaea;
    border-bottom: 0.04em solid rgb(14 75 255);
}


input[type=text] {
    background-image: url();
}

input[type=email] {
    background-image: url();
}

input[type=password] {
    background-image: url();
}

input[type=submit] {
    width: 100%;
}


.box {
    background: rgb(78, 78, 78);
    border: 2px solid black;
    width: 290px;
    height: 400px;
    border-radius: 10px;
}

.boxMess {
    margin: 0 auto;
    width: 200px;
    height: 250px;
    font-size: 50px;
}